<div class="col-xs-9">
<div class="main-visual">

 <p class="main-visual-text">
	ようこそ、NaganoCakeへ！<br>
	このサイトは、ケーキ販売のECサイトになります。<br>
	会員でない方も商品の閲覧はできますが、<br>
	購入には会員登録が必要になります。
</p>
</div>

<div class="recommend">
 <h2>オススメ商品</h2>

<div class="item-box">

<table class="table">
 <tr>
 <th><%= link_to public_items_index_path do %>
		 <%= image_tag(@item, :image,size: "180x130", fallback: "no_image.jpg") %>

 </th>
 </tr>

 <tr>
 <th><%= link_to item.name, item_path(item) %></th>
 </tr>

 <tr>
 <th>￥<%= (item.price * 1.1).to_i %></th>
</tr>
</table>
</div>
		   <% end %>
</div>
</div>
<div class="index-link">
<%= link_to "もっと見る>", items_path %>
</div>
</div>

