<div class="row login-row">
<div class="col-xs-3">
 <%= render 'genre_search_form', genres: @genres %>
</div>

<div class="col-xs-9">
 <h2><%= "#{@index}一覧 （全#{@items_all.count}件）" %></h2>
     <% @items.each do |item| %>
<div class="item-box">
<table class="table">
 <tr>
 <th><%= link_to public_items_path(item) do %>

     <% end %>
 </th>
 </tr>

 <tr>
 <th><%= link_to item.name, public_items_path(item) %></th>
 </tr>

 <tr>
 <th>￥<%= (item.price * 1.1).to_i %></th>
 </tr>
</table>
</div>
       <% end %>
      <%= paginate @items %>
</div>
</div>
